@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
  --fontSize: 12px;
    --white: #fff;
    --white-hover: #eaeaea;
    --white-no-white: #FFDDB5;
    --text-grey: #acadb1;
    --discord-color: #6757d6;
    --primary: #6D00D2;
    --primary-hover: #9B50FF;
    --secondary: #0076f1;
    --secondary-hover: #0056b3;
    --warning: #f90;
    --warning-hover: #b07c21;
    --danger: #e9162b;
    --success: #21a67a;
    --success-hover: #14664b;
    --dark: #191720;
    --dark-hover: #282533;
    --yellow-100: #f0a92e;
    --yellow-300: #b07c21;
    --red-100: #e9162b;
    --red-200: #d81124;
    --red-300: #a80f1e;
    --green-100: #21a67a;
    --green-200: #009e0f;
    --green-300: #14664b;
    --blue-100: #0076f1;
    --blue-200: #086fda;
    --blue-300: #0056b3;
    --grey-100: #2e2e2e;
    --grey-200: #6d6d6d;
    --grey-300: #969696;
    --grey-400: #ababab;
    --grey-500: #d5d5d5;
    --grey-600: #eaeaea;
    --grey-700: #f5f5f5;
    --grey-800: #fff;
    --black-100: #000;
    --black-200: #333;
    --height-nav: 64px;
}



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #191720;
  color: var(--grey-200);
  font-family: 'Kanit', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: var(--primary-hover);
  outline: none;
  text-decoration: none;
}

p {
  color: var(--text-grey);
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.bg-cover{  
  background-color: var(--dark);
  /* background-image: url("../img/home-bg.png"); */
  background-blend-mode: multiply;
  background-size: cover;
    width: 100%;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #191720 url("../img/Dash-Circle-Preloader.svg") no-repeat center center;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--primary-hover);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center;
  background-size: cover;
}

#banner-discord {
  background-color: var(--discord-color);
  padding: 5px;
  width: 260px;
  position: absolute;
  right: 0;
  bottom: 5%;
  transform: translate(180px);
  transition: 0.5s;

}

#banner-discord:hover {
  transform: translate(0px);
  transition: 0.5s;
}

/* Background Video */
video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 120%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* background: url(placeholder.jpg) no-repeat; */
  background-size: cover;
  background-attachment: fixed;
}

/* Volume Mute Controller */
#mute {
  -webkit-media-mute-buttonappearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 2%;
  bottom: 4%;
}

/*  */

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-logo img {
  width: 100%;
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.7);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  /* margin: 30px 0 10px 0; */
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #ccc;
  margin-bottom: 50px;
}

#hero h2 span {
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid var(--primary);
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating>.animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: var(--primary);
  border: 2px solid var(--primary-hover);
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-featured {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-featured:hover {
  background: var(--primary);
  border: 2px solid var(--primary-hover);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: var(--dark);
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  box-shadow: 0 4px 10px -3px hsla(0deg, 0%, 75%, 0.5);
}

@media (max-width: 992px) {
  #header {
    height: 60px;
  }
}

#header.fixed-top {
  background: rgba(25, 23, 32, 0.85);
  border-bottom: 1px solid var(--white);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  width: 300px;
  filter: drop-shadow(0 4px 10px -3px rgba(175, 34, 180, 0.5));
}

.scrolled-offset {
  margin-top: 70px;
}

.key {
  background-color: var(--black-200);
  padding: 2px 4px 2px 4px;
  border-radius: 3px;

  font-size: 14px;
  color: var(--white);
}

.key-map i,
.key-chat i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: var(--primary);
}

@media (max-width: 992px) {
  .scrolled-offset {
    margin-top: 60px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--primary-hover);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  color: #333333;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--primary-hover);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(22, 24, 64, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #333333;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--primary-hover);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--primary-hover);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
section {
  overflow: hidden;
}

.section-title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 100px;
  height: 3px;
  background: var(--primary-hover);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
  padding: 80px 0;
  background-color: var(--dark-hover);
  background-image: url("../img/about-image.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}

#about .about-img {
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

#about .about-img img {
  max-width: 90%;
  height: 50%;
}

#about span {
  color: var(--primary-hover);
}

#about .about-content {
  /* background: var(--dark); */
  transition: all 0.4s ease-in-out;
}

#about .about-title {
  font-weight: 700;
  font-size: 62px;
}

#about .about-text {
  line-height: 26px;
  margin-bottom: 15px;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: linear-gradient(90deg, rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url("../img/counts-bg.png") center center no-repeat;
  padding: 16px 0 16px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/*--------------------------------------------------------------
# Featured Section
--------------------------------*/
#featured {
  /* background: linear-gradient(42deg, #5846f9 0%, #7b27d8 100%), url("../img/home-bg.png") fixed center center; */
  background-size: cover;
  padding: 80px 0 60px 0;
}

#featured .feature-item {
  margin-bottom: 20px;
}

#featured .feature-icon {
  margin: 1rem;
  float: left;
  background: #161840;
  border-radius: 25%;
  transition: 0.5s;
  border: 1px solid var(--primary-hover);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

#featured .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

#featured .icon-box i {
  font-size: 48px;
  float: left;
  color: var(--white);
}

#featured .icon-box p {
  font-size: 15px;
  /* color: var(--white-no-white); */
  margin-left: 60px;
}

#featured img {
  width: 700px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: var(--dark-hover) 0rem 1rem 3.5rem 0.25rem; */
}

  /*--------------------------------------------------------------
  # Recent Blog Posts
  --------------------------------------------------------------*/
    .recent-blog-posts .post-box {
      box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
      transition: 0.3s;
      height: 100%;
      overflow: hidden;
      padding: 30px;
      border-radius: 8px;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  
    .recent-blog-posts .post-box .post-img {
      overflow: hidden;
      height: 440px;
      margin: -30px -30px 15px -30px;
      position: relative;
    }
  
    .recent-blog-posts .post-box .post-img img {
      object-fit: cover;
      transition: 0.5s;
    }
  
    .recent-blog-posts .post-box .post-date {
      font-size: 16px;
      font-weight: 600;
      color: var(--primary);
      display: block;
      margin-bottom: 10px;
    }
  
    .recent-blog-posts .post-box .post-title {
      font-size: 24px;
      color: var(--text-grey);
      font-weight: 700;
      margin-bottom: 18px;
      position: relative;
      transition: 0.3s;
    }
  
    .recent-blog-posts .post-box .readmore {
      display: flex;
      align-items: center;
      font-weight: 600;
      line-height: 1;
      transition: 0.3s;
    }
  
    .recent-blog-posts .post-box .readmore i {
      line-height: 0;
      margin-left: 4px;
      font-size: 18px;
    }
  
    .recent-blog-posts .post-box:hover .post-title {
      color: var(--primary);
    }
  
    .recent-blog-posts .post-box:hover .post-img img {
      transform: rotate(6deg) scale(1.2);
    }